<section
  id="about"
  class="mt-[-40px] flex flex-col justify-center items-center bg-transparent text-white px-6 py-8 opacity-0 -translate-x-12 transition-all duration-1500 ease-in-out"
#aboutSection>
  <!-- Título -->
  <h2 class="text-4xl md:text-5xl font-bold mb-12 text-center">Sobre mí</h2>

  <!-- Contenido principal -->
  <div class="max-w-4xl text-center space-y-6">
    <p class="text-lg md:text-xl leading-relaxed text-gray-300">
      Soy Desarrollador Frontend junior especializado en
      Angular. Me apasiona crear interfaces limpias, modernas y
      funcionales, desarrollando componentes reutilizables y diseños
      responsives.
    </p>
    <p class="text-lg md:text-xl leading-relaxed text-gray-300">
      Tengo experiencia en el consumo de APIs REST y en despliegues
      de aplicaciones en entornos Docker. Me adapto bien a
      equipos ágiles, usando tableros Kanban y buenas prácticas
      de Git (Pull Requests, merges y ramas organizadas) bajo metodología Scrum.
    </p>
  </div>

  <!-- Skills -->
   <h3 class="text-4xl md:text-4xl font-bold mb-12 text-center mt-12">Habilidades</h3>
 <img width="700px"  src="https://skillicons.dev/icons?i=angular,js,html,css,typescript,tailwind,bootstrap,npm,rxjs,symfony,php,markdown,git,linux,postgres,vscode,mysql,vite,docker,postman,nodejs,figma&perline=11"  />
</section>
