<nav class="fixed top-0 left-0 right-0 p-4 bg-black bg-opacity-50 backdrop-blur-sm z-50 flex justify-between items-center">
  <a routerLink="/" class="text-xl font-bold">José Capitán</a>
  <div class="flex space-x-6">
    <a routerLink="/" routerLinkActive="text-gray-400" class="text-white hover:text-gray-300">Inicio</a>
    <a routerLink="/proyectos" routerLinkActive="text-gray-400" class="text-white hover:text-gray-300">Proyectos</a>
    <a routerLink="/curriculum" routerLinkActive="text-gray-400" class="text-white hover:text-gray-300">Currículum</a>
    <a routerLink="/contacto" routerLinkActive="text-gray-400" class="text-white hover:text-gray-300">Contacto</a>
  </div>
</nav>
