<nav
  class="border-b border-cyan-800 fixed top-0 left-0 right-0 px-6 md:px-20 bg-gradient-to-r from-black via-black to-cyan-950 bg-opacity-50 backdrop-blur-sm z-50"
>
  <div class="flex justify-between items-center py-0">
    <!-- Logo + Nombre -->
    <a
      routerLink="/"
      class="flex items-center space-x-3 text-xl text-white font-bold"
    >
      <img src="assets/C3.png" alt="Logo" class="h-16 w-16" />
      <span>José Capitán</span>
    </a>

    <!-- Enlaces (desktop) -->
    <div class="hidden md:flex space-x-6">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >Inicio</a
      >
      <a routerLink="/proyectos" routerLinkActive="active" class="nav-link"
        >Proyectos</a
      >
      <a routerLink="/curriculum" routerLinkActive="active" class="nav-link"
        >Currículum</a
      >
      <a routerLink="/contacto" routerLinkActive="active" class="nav-link"
        >Contacto</a
      >
    </div>

    <!-- Botón hamburguesa (móvil) -->
    <button
      class="md:hidden text-white focus:outline-none"
      (click)="isMenuOpen = !isMenuOpen"
    >
      <img src="assets/menu.png" alt="Menú" class="w-9 h-9" />
    </button>
  </div>

  <!-- Menú desplegable móvil -->
  <div
    class="md:hidden overflow-hidden transition-all duration-1000 ease-in-out"
    [class.max-h-0]="!isMenuOpen"
    [class.max-h-96]="isMenuOpen"
  >
    <div
      class="px-6 py-6 flex flex-col items-center space-y-5 bg-opacity-40 backdrop-blur-md"
    >
      <a
        routerLink="/"
        class="block text-white hover:text-cyan-400"
        (click)="isMenuOpen = false"
        >Inicio</a
      >
      <a
        routerLink="/proyectos"
        class="block text-white hover:text-cyan-400"
        (click)="isMenuOpen = false"
        >Proyectos</a
      >
      <a
        routerLink="/curriculum"
        class="block text-white hover:text-cyan-400"
        (click)="isMenuOpen = false"
        >Currículum</a
      >
      <a
        routerLink="/contacto"
        class="block text-white hover:text-cyan-400"
        (click)="isMenuOpen = false"
        >Contacto</a
      >
    </div>
  </div>
</nav>
